

h1 {
	color: red;
}

body{
	background-image: url("alloraallora.jpg");
	 background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
}

a:visited {
	color:#FFFFFF;
}

a:hover {
	color: lawngreen;
}

footer{
	color: #FFFFFF;
	border-style: solid ;
	border-width: 5px;
	width: 600px;
	height: 69px;
	border-image: url(glow.jpg) 30 round;

}

.main{
	font-style: "Lucida Console", "Courier New", monospace;
	color: gold;
	font-family: "algerian"
	

}
.welcomemessage{
	font-style:  "Lucida Console", "Courier New", monospace;
	color: gold;
	font-family: "algerian"
	
	
}
.Prize{
	font-style:  "Lucida Console", "Courier New", monospace;
	color: red;
	font-size: 25px;

}


.Prize {
	color: pink;
}